# Ignorar arquivos compilados em C
*.exe
*.out
*.o

# Ignorar pasta de saída
output/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar pastas do VS Code
.vscode/
# Ignorar arquivos de configuração do Python
__pycache__/
